* { margin:0; padding:0; font-family: 'Josefin Sans', sans-serif;} /* to remove the top and left whitespace */

html, body { 
	width:100%;
	height:100%;
	background-size:100vw;

} /* just to be sure these are full screen*/

canvas { 
	display:block; 
	z-index:0;
	width:100vw;
	height:100vh;
	position:absolute;
} /* To remove the scrollbars */


.hover {
	position:absolute;
	top:50%;
	right:0%;
	/*transform:translate(-2.5%,50%);*/
	width:95vw !important;
	display:block;
	z-index:1;
	opacity:0.9;
	/*background-color:rgba(255,255,255,0.5);*/
	text-align:center;
  /*overflow:auto;
  background-color: rgba(255, 255, 255, 0.5);;*/
}

.main {
	text-align:center;
	font-size:15vw;
}

.sub {
	text-align:center;
	font-size:3vw;
}

.table {
	width:100%;
}

.card {
	width: 70%;
}


@media screen and (min-width: 768px) { 
	body {
		background-image:url("background_sml.png");
	}  
	.hover {
		transform:translate(-20%,-15%);
		width:80vw !important;
	}
	.main {
		font-size:13vw;
	}
	.sub {
		font-size:1.5vw;
	}
} 
@media (min-width: 992px){    
	body {
		background-image:url("background_med.png");
	}  
	.hover {
		transform:translate(-40%,-15%);
		width:60vw !important;
	}
	.main {
		font-size:10vw;
	}
	.sub {
		font-size:1.5vw;
	}
}
@media (min-width: 1200px) { 
	body {
		background-image:url("background_big.png");
	}  
	.hover {
		transform:translate(-50%,-15%);
		width:50vw !important;
	}
	.main {
		font-size:10vw;
	}
	.sub {
		font-size:1.5vw;
	}
}